@page {
    size: 7in 9.25in;
}

body {
    font-family: 'Roboto Slab';
    font-size: 10.5pt;
}

.paper {
    display: grid;
    height: 9.25in;
    width: 7in;
    margin: auto;
    grid-template-rows: auto auto auto auto auto;
}

.section-title {
    display: flex;
    height: 1rem;
    font-weight: bolder;
    background-color:lightgray;
    color: darkgreen;
    align-items: center;
    padding: 0.5rem;
    
}

.job-title {
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.role {
    font-weight: bolder;
    justify-self: start;
}

.role>.position {
    color: darkgreen;
}

.date {
    justify-self: end;
}

.skill-tiles {
    margin: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.tile {
    display: flex;
    padding: 5px;
    height: 1.5rem;
    background-color: lightgray;
    border-radius: 5px;
    font-weight: 500;
    align-items: center;
}

.name {
    font-size: 2em;
    color: darkgreen;
    font-weight: bolder;
}

.contact {
    color: grey;
    padding-bottom: 0.5rem;
}



.experience {
}

.education {
}